<div mat-dialog-content>
  <div class="form-container">
    <div class="left-col">
      <h2>Order Details</h2>
      <span><b>Order Number: </b> {{ order.orderNumber }}</span>
      <span><b>Member Name(s):</b> {{ memberNames }}</span>
      <span><b>Member Email(s):</b> {{ memberEmails }}</span>
      <span><b>Class:</b> {{ order.className }}</span>
      <span><b>Master Teacher:</b> {{ order.masterTeacher }}</span>
      <span><b>Other Notes:</b> {{ (order.otherNotes != '') ? order.otherNotes : 'N/A' }}</span>
    </div>
    
    <div class="right-col">
      <h2>Order Contents</h2>
        <div *ngIf="order.content.length === 0">Order Contents are Empty</div>
        <div class="order-content-container" *ngIf="order.content.length != 0">
          <table mat-table [dataSource]="items" matSort class="content-table">
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
              <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let item"> {{item.item_name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="t-align-r" mat-cell *matCellDef="let item"> 
                    <a class="action-button" mat-button (click)="editItem(item)"><mat-icon>edit</mat-icon></a> 
                    <a class="action-button" mat-button color="red" (click)="removeItem(item)"><mat-icon>delete</mat-icon></a>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        
    </div>
  </div>
</div>

<div mat-dialog-actions class="actions">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button 
    color="red"
    cdkFocusInitial
    (click)="placeOrder()">
  Place Order</button>
</div>