.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.left-col {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.right-col {
  width: 45%;
  display: flex;
  flex-direction: column;
}

h5 {
  margin-top: -10px;
}

.mat-form-field {
  margin-top: -15px;
}

.row {
  display: flex;
  flex-direction: row;
}

.between {
  justify-content: space-between;
}

.w45 {
  width: 45%;
}

.float-r {
  float: right
}

.order-content-container {
  max-height: 350px;
}