{% for order in orders %}
    <div style="display: inline-block; width: 50%;">
        <h3>Order: {{ order.order.number }}</h3>
            <h5 class="secondary-text">Owner: {{ order.order.owner.username }}
                Co-Owner:
                {% if order.order.co_owner.username == null %}
                    N/A
                {% else %}
                    {{ order.order.co_owner.username }}
                {% endif %}
            </h5>
        <h5 class="secondary-text">Status: {{ order.status }}</h5>
        <h5 class="secondary-text">Teacher: {{ order.order.teacher }}</h5>
    </div>

    <div style="display: inline-block; float: right; margin-top: 30px;">
        <button type="button"
                class="btn btn-red btn-lg js-pickup-update"
                onclick="location.href='{% url 'management-order-view' order.order.number %}'">
            Details
        </button>
    </div>

    <hr style="width: 100%">
{% endfor %}