.content {
  text-align: center;
}

.hr {
  width: 80%; 
  margin-top: 25px;
}

.header {
  font-size: 12vw;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sub-header {
  font-size: 1vw;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

span {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.resources {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  width: 80%;
  height: 500px;
}

.resource {
  padding: 2px 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  height: 300px
}