{% extends "management/base/admin_base.html" %}

{% block title %}JAVAN - Management{% endblock %}

{% block head %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock head %}

{% block body %}
    <div class="container-offset">


<!-- Page content -->
<div class="main" style="width: auto">
{#  <div class="row" style="height: 250px; background-color: purple">#}
{##}
{#  </div>#}
{#    <div class="row" style="height: 600px; background-color: teal">#}
{##}
{#          <div class="col-7" style="height: 600px; background-color: beige">#}
{##}
{#            </div>#}
{##}
{#                  <div class="col-5" style="height: 600px; background-color: hotpink">#}
{##}
{#            </div>#}
{#  </div>#}
</div>


    </div>
{% endblock body %}