<div fxFlex></div>

<div class="content" fxFlex="80">
  <span class="header">Welcome</span>
  <br>
  <span class="sub-header">to JAVAN, the library and material reservation system for STEM education!</span>

  <hr class="hr">

  <span class="sub-header">Please select a resource to access:</span>

  <div class="resources">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap>
      <div fxFlex="40" class="resource">
        <h1>Library</h1>
        <hr style="margin-top: -15px; width: 80%; float: left;">

      </div>
      <div fxFlex="40" class="resource">
        <h1>Materials</h1>
        <hr style="margin-top: -15px; width: 80%; float: left;">

        <span>
          To view available materials, click <a class="btn" mat-button color="red" routerLink="/items/view">View Materials</a>
        </span>

        <span>
          To start a reservation, enter your assigned bin number and click "Reserve Materials" below. 
        </span>
        <!-- <input type="text">Enter Bin number</input> -->
        <a class="btn" mat-button color="red" (click)="openOrderDetailsDialog()">Reserve Materials</a>
        
      </div>
    </div>
  </div>

</div>

<div fxFlex></div>
  
<!-- <div fxLayout="row">
  <div fxFlex></div>

  <div fxFlex="30">
    <button mat-button> Library</button>
  </div>

  <div fxFlex="30">
    <a class="btn" routerLink="/items/view">View Materials</a>
    <button mat-button router-link="/items/view/"> Materials</button>

  </div>

  <div fxFlex></div>
</div> -->


