<div fxFlex></div>

<div class="content" fxFlex="80">
  <span class="header">Welcome</span>
  <br>
  <span class="sub-header">to JAVAN, the library and material reservation system for STEM education!</span>

  <hr class="hr">

  <span class="sub-header">Please select a resource to access:</span>

  <div class="resources">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap>
      <div fxFlex="40" class="resource">
        <h1>Library</h1>
        <hr style="margin-top: -15px; width: 100%; float: left;">
        <span>
          COMING SOON...
        </span>

      </div>
      <div fxFlex="40" class="resource">
        <h1>Materials</h1>
        <hr style="margin-top: -15px; width: 100%; float: left;">

        <div class="button-container">
          <a class="btn" mat-button color="red" routerLink="/items/view">View Materials</a>
          <br>
          <span>
            or
          </span>
          <br>
          <div class="btn-row">
            <a class="btn" mat-button color="red" (click)="openOrderDetailsDialog()">{{ hasOrder ? 'Continue Order' : 'Reserve Materials' }}</a>  
            <a class="delete-btn" 
               mat-button 
               color="red" 
               (click)="deleteOrder()"
               *ngIf="hasOrder"><mat-icon>delete</mat-icon></a>  
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>

<div fxFlex></div>