{% extends "../base/base.html" %}

{% block title %}JAVAN - Materials Home{% endblock %}

{% block head %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/materials/style.css' %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>
        // Only lets one item be un-collapsed at a time
        {#$(document).on('click',function(){#}
	    {#    $('.collapse').collapse('hide');#}
        {#})#}
    </script>

{% endblock head %}

{% block body %}
    {% include "../base/includes/nav.html" %}

    <div class="container-offset">
        <div class="row">
            <div class="col-lg-1"></div>

            <div class="col-lg-10 main-content">
                <!-- TODO: Add view for teachers/staff -->

                <!-- User's Personal Reservation -->
                <h1 class="header"> Your Reservations </h1>
                <hr width="90%">
                <!-- Order Cards -->
                    <div class="row justify-content-center">
                        {%  for complete_order in complete_orders  %}
                        <div class="col-auto mb-3">
                            <div class="card" style="width: 15rem; height: 15rem;">
                                <div class="card-body">
                                    <h3 class="card-title">Order #{{ complete_order.order.number }}</h3>
                                    <p>Status: {{ complete_order.status }} <br/>
                                       Member(s):
                                       {% for x in complete_order.members %}
                                           {{ x }}{% if not forloop.last %}, {% endif %}
                                       {% endfor %}
                                    </p>

                                    {% if complete_order.order.status == 0 %}
                                        <button type="button"
                                                class="btn btn-red btn-lg js-form-load"
                                                data-url="{% url 'pickup-update' complete_order.order.number %}">
                                            Start Order
                                        </button>
                                    {% elif complete_order.order.status == 1 %}
                                        <button class="btn btn-red btn-lg"
                                                onclick="location.href='{% url 'order-view' complete_order.order.number %}'">
                                            Continue Order
                                        </button>
                                    {% elif complete_order.order.status >= 2 and complete_order.order.status <= 5 %}
                                        <button class="btn btn-red btn-lg"
                                                onclick="location.href='{% url 'order-view' complete_order.order.number %}'">
                                            Update Order
                                        </button>
                                    {% elif complete_order.order.status >= 6 %}
                                        <button class="btn btn-red btn-lg"  disabled="true">
                                            Unavailable
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {%  endfor %}
                    </div>


                <!-- Course Responsibilities -->
                <h1 class="header"> Your Courses </h1>
                <hr width="90%">
                {% for course in courses %}
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="header"> {{ course.course.name }} </h1>
                    </div>
                    <div class="col-lg-5">
                        <div style="float: right;" data-toggle="collapse" data-target="#drop{{course.course.pk}}">
                            <i style="font-size: 80px" class="material-icons">keyboard_arrow_down</i>
{#                            <i style="font-size: 80px" class="material-icons">keyboard_arrow_up</i>#}
                        </div>
                    </div>
                </div>

                <hr width="90%">
                    <div id="drop{{course.course.pk}}" class="row justify-content-center collapse">
                        {%  for complete_order in course.orders  %}
                        <div class="col-auto mb-3">
                            <div class="card" style="width: 15rem; height: 15rem;">
                                <div class="card-body">
                                    <h3 class="card-title">Order #{{ complete_order.order.number }}</h3>
                                    <p>Status: {{ complete_order.status }} <br/>
                                       Member(s):
                                       {% for x in complete_order.members %}
                                           {{ x }}{% if not forloop.last %}, {% endif %}
                                       {% endfor %}
                                    </p>

                                    {% if complete_order.order.status == 0 %}
                                        <button type="button"
                                                class="btn btn-red btn-lg js-form-load"
                                                data-url="{% url 'pickup-update' complete_order.order.number %}">
                                            Start Order
                                        </button>
                                    {% elif complete_order.order.status == 1 %}
                                        <button class="btn btn-red btn-lg"
                                                onclick="location.href='{% url 'order-view' complete_order.order.number %}'">
                                            Continue Order
                                        </button>
                                    {% elif complete_order.order.status >= 2 and complete_order.order.status <= 5 %}
                                        <button class="btn btn-red btn-lg"
                                                onclick="location.href='{% url 'order-view' complete_order.order.number %}'">
                                            Update Order
                                        </button>
                                    {% elif complete_order.order.status >= 6 %}
                                        <button class="btn btn-red btn-lg"  disabled="true">
                                            Unavailable
                                        </button>
                                    {% endif %}

                                    <button type="button"
                                                class="btn btn-red btn-lg js-form-load"
                                                data-url="{% url 'course-order-edit' complete_order.order.number %}">
                                            Edit order
                                    </button>
                                </div>
                            </div>
                        </div>
                        {%  endfor %}
                        <div class="col-auto mb-3">
                            <div class="card" style="width: 15rem; height: 15rem;">
                                <div class="card-body">
                                    <h3 class="card-title">Add new Order</h3>
                                    <p>

                                        <button type="button"
                                                class="btn btn-red btn-lg js-form-load"
                                                data-url="{% url 'course-order-add' course.course.pk %}">
                                            Add order
                                        </button>

                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <!-- Other order responsibilities -->
                <h1 class="header"> Misc Orders </h1>
                <hr width="90%">

            </div>

            <div class="col-lg-1"></div>
        </div>
    </div>

    <div class="modal fade" id="modal-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <script src="{% static 'django_select2/django_select2.js' %}"></script>
            </div>
        </div>
    </div>

{% endblock body %}