{% extends "../base/base.html" %}

{% block title %}Order {{ order.number }}{% endblock %}

{% block head %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/materials/style.css' %}">
    <script src="{% static 'js/materials/item-filter.js' %}"></script>
    <script>
        setFlag(0);
        getItems("");
    </script>

{% endblock head %}

{% block body %}
    <div class="container-fluid container-offset" style="height: 1000px">
    <!-- Return to top button -->
        <button onclick="topFunction()" id="topbtn" title="Go to top">Top</button>

    <!-- top bar -->
        <div class="row topBar bg-white">
            <div class="row inTopBar">
                <div class="col-lg-12 w100">
                    <p class="inBlock "><a class="aBack d-flex justify-content-center align-content-between"
                                           href="{% url 'materials-index' %}">
                        <i class="material-icons">chevron_left</i>Return to Your Reservations
                    </a></p>
                    <p class="inBlock fRight" style="color: gray">Order {{ order.number }}</p>
                </div>
            </div>
        </div>

    <!-- main content -->
        <div class="row h-100">

            <!-- column one -->
                <div class="col-lg-3 bg-white ">
                    <div class="row justify-content-center">
                        <h1 class="text-center">Category</h1>
                        <hr style="width:80%">
                    </div>

                    <div class="row justify-content-center">
                        <form method="get" onsubmit="return false;">
                            <span style="width:40%; margin-left:10%; display: inline-block;">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" onchange="checkboxChange()" class="form-check-input"
                                               name="category[]" value="PHYS">
                                        Physics
                                    </label>

                                    <label class="form-check-label">
                                        <input type="checkbox" onchange="checkboxChange()" class="form-check-input"
                                               name="category[]" value="MATH">
                                        Mathematics
                                    </label>
                                    <label class="form-check-label">
                                        <input type="checkbox" onchange="checkboxChange()" class="form-check-input"
                                               name="category[]" value="CHEM">
                                        Chemistry
                                    </label>
                                </div>
                            </span>

                            <span style="width:40%; display: inline-block;">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" onchange="checkboxChange()" class="form-check-input"
                                               name="category[]" value="BIO">
                                        Biology
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" onchange="checkboxChange()" class="form-check-input"
                                               name="category[]" value="TOYS">
                                        Toys
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" onchange="checkboxChange()" class="form-check-input"
                                               name="category[]" value="CRAFT">
                                        Crafts
                                    </label>
                                </div>
                            </span>
                    </form>
                </div>
                    <br>
                    <br>

                <div class="row justify-content-center">
                    <button type="button"
                            class="btn btn-red js-form-load d-flex justify-content-center align-content-between"
                            data-url="{% url 'unlisted-add' %}">
                            <i class="material-icons">add</i>
                            <span>Add Unlisted Item</span>
                    </button>
                </div>

            </div>

            <!-- column two -->
                <div class="col-lg-6 bg-white">
                    <h1>Available Materials</h1>

                <!-- New search bar -->
                    <form onsubmit="filter(this); return false;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search"
                                   name="term" oninput="change(value)">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" value="Search">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <hr>

                <!-- items -->
                    <div class="row">
                        <div id="content-list" style="width: 100%;"></div>
                    </div>

                </div>

            <!-- column three -->
                <div class="col-lg-3 col-md-3 bg-white">
                    <div class="sticky-top" style="top:70px">
                        <h1 class="center">Your Order</h1>

                        <hr style="width:80%">

                        <table class="table" id="content-table">
                            <thead>
                                <tr>
                                    <th>QTY</th>
                                    <th>Item</th>
                                    <th>Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include 'materials/includes/order_content_list.html' %}
                            </tbody>
                        </table>

                        <br>

                        <div class="text-center">
                        {% if order.status == 1 %}
                            <button class="btn btn-red btn-lg"
                                    onclick="location.href='{% url 'order-review' order.number %}'">
                                Review & Place Order
                            </button>
                        {% elif order.status == 'PLACED' or 'FILLED' or 'UPDATED'%}
                            <button class="btn btn-red btn-lg"
                                    onclick="location.href='{% url 'order-review' order.number %}'">
                                Review & Update Order
                            </button>
                        {% endif %}
                        </div>

                        <!-- Return to top button -->
                        <button onclick="topFunction()" id="topbtn" title="Go to top">Top</button>

                    </div>
                </div>

        </div>


        </div>
    </div>

    <div class="modal fade" id="modal-form">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock body %}