.w100{
  width: 100%;
}

.breadcrumb {
  top:64px;
  background-color: whitesmoke;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.main-content {
  margin-top: 25px;
}

.row {
  display: flex;
  flex-direction: row;
}

.end {
  justify-content: flex-end;
}

.around {
  justify-content: space-around;
}

.material-list {
  width: 80%;
}

.reserve-btn {
  margin-right: 5vw;
}

.unlisted-btn {
  margin-right: 10px;
}