<app-loader *ngIf="isLoading"></app-loader>

<div class="w100 breadcrumb sticky">
  <app-breadcrumb [Trail]="breadcrumbTrail"></app-breadcrumb>
</div>
<div class="w100 main-content">
  <div class="row end">
    <div>
      <button 
        mat-button 
        color="red" 
        class="unlisted-btn"
        (click)="addUnlisted()">Add Unlisted Item <mat-icon>add</mat-icon>
      </button>
      <button 
        mat-button 
        color="red" 
        class="reserve-btn"
        (click)="reviewOrder()">View/Place Order <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
  <div class="row around">
    <div class="material-list">
      <app-list
        [Items]="items"
        [viewOnly]="false"
        (ItemToAdd)="addItem($event)">
      </app-list>
    </div>
  </div>
</div>
