{%  for complete_order in misc_complete_orders  %}
    <!-- TODO: make better-->
    <style>
        span[status]{
            border-radius: 0.25em;
        }
        span[status = '0']{
            background-color: #52b33e;
        }
        span[status = '1']{
            background-color: #52b33e;
        }
        span[status = '2']{
            background-color: #52b33e;
        }
        span[status = '3']{
            background-color: #b45cd8;
        }
        span[status = '4']{
            background-color: #eed009;
        }
        span[status = '5']{
            background-color: #eed009;
        }
        span[status = '6']{
            background-color: #fd8d16;
        }
        span[status = '7']{
            background-color: #e34337;
        }
        span[status = '8']{
            background-color: #283450;
        }
        span[status = '9']{
            background-color: #52b33e;
        }
    </style>

    <div class="col-auto mb-3">
        <div class="card" style="width: 15rem; height: 15rem;">
            <div class="card-body">
                <h3 class="card-title">Order #{{ complete_order.order.number }}</h3>
                <p>Status: <span status = '{{ complete_order.order.status }}'>
                    {{ complete_order.status }}</span> <br/>
                    Member(s):
                    {% for x in complete_order.members %}
                        {{ x }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>

                {% if complete_order.order.status == 0 %}
                    <button type="button"
                            class="btn btn-red btn-lg js-form-load"
                            data-url="{% url 'pickup-update' complete_order.order.number %}">
                        Start Order
                    </button>
                {% elif complete_order.order.status == 1 %}
                    <button class="btn btn-red btn-lg"
                            onclick="location.href='{% url 'order-view' complete_order.order.number %}'">
                        Continue Order
                    </button>
                {% elif complete_order.order.status >= 2 and complete_order.order.status <= 5 %}
                    <button class="btn btn-red btn-lg"
                            onclick="location.href='{% url 'order-view' complete_order.order.number %}'">
                        Update Order
                    </button>
                {% elif complete_order.order.status >= 6 %}
                    <button class="btn btn-red btn-lg"  disabled="true">
                        Unavailable
                    </button>
                {% endif %}
                <button type="button"
                        class="btn btn-grey btn-lg js-form-load"
                        data-url="{% url 'misc-order-edit' complete_order.order.number %}">
                    <i class="material-icons">create</i>
                </button>

                <div class="dropdown">
                    <button style="margin-top: -30px"
                            class="btn btn-red dropdown-toggle"
                            type="button" id="dropdownMenu2"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                Options
                    </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item btn js-form-load"
>
                Details</button>
                    <button type="button"
                        class="btn btn-warning btn-sm js-form-load d-flex justify-content-center align-content-between inBlock"
                        style="color:white; display: inline-block">
                    <i class="material-icons">edit</i>
                    </button>

            </div>
        </div>

            </div>
        </div>
    </div>
{%  endfor %}