::ng-deep .mat-focused .mat-form-field-label {
  color: #9D2235 !important;
}
::ng-deep.mat-form-field-ripple {
  background-color: #9D2235 !important;;
}

.actions {
  float: right;
}

form {
  margin-top: 15px;
}
.qty-field {
  width: 20%
}
.notes-field {
  margin-left: 5%;
  width: 70%;
}

.unlisted-field{
  width: 70%;
  margin-left: 5%;
}